body, html  {
    height: 97.5%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
} 

/* Header */
.bg-image {
    background-image: url("images.jpg");
    filter: blur(5.5px);
    -webkit-filter: blur(5.5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
  
.header {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    box-shadow: 4px 8px 40px 8px #7617aa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
  
.header h1 {
    font-size: 45px;
}